[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
opencv-python = "*"
pandas = "*"
scipy = "*"
scikit-image = "*"
plotly-express = "*"
install = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
